In [ ]:
#Social_Networks_Ads.csv

**Importing the libraries**

In [18]:
import pandas as pd

In [19]:
import matplotlib.pyplot as plt

**Importing the dataset**

In [20]:
df=pd.read_csv(r"C:\Users\amanm\OneDrive\Desktop\assignment\Social_Network_Ads.csv")

In [21]:
def change_age(x):
    if x=="Male":
        return 1
    if x=="Female":
        return 0

In [22]:
df["sex"]=df["Gender"].apply(change_age)
df

      User ID  Gender  Age  EstimatedSalary  Purchased  sex
0    15624510    Male   19            19000          0    1
1    15810944    Male   35            20000          0    1
2    15668575  Female   26            43000          0    0
3    15603246  Female   27            57000          0    0
4    15804002    Male   19            76000          0    1
..        ...     ...  ...              ...        ...  ...
395  15691863  Female   46            41000          1    0
396  15706071    Male   51            23000          1    1
397  15654296  Female   50            20000          1    0
398  15755018    Male   36            33000          0    1
399  15594041  Female   49            36000          1    0

[400 rows x 6 columns]

In [23]:
X=df.iloc[:,[2,3,5]]
y=df.iloc[:,-2]

**Splitting the dataset into the Training set and Test set**

In [24]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=51)

**Feature Scaling**

In [25]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
sc.fit(X_train)
X_train = sc.transform(X_train)
X_test =sc.transform(X_test)

**Fitting K-NN to the Training set**

In [26]:
from sklearn.neighbors import KNeighborsClassifier
 
classifier = KNeighborsClassifier(n_neighbors=5)
classifier.fit(X_train, y_train)
 
classifier.score(X_test, y_test)

0.925

**Predicting the Test set results**

In [30]:
y_pred = classifier.predict(X_test)

**Making the Confusion Matrix**

In [31]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred )
cm

array([[48,  4],
       [ 2, 26]], dtype=int64)